TELEGRAM_BOT_TOKEN=8501039751:AAGeLagxZ_yXezfGtq9JNfHUehfA5Ah4ebA
BOT_USERNAME=DanxyHefunBot
CHANNEL_USERNAME=Fluffy_Information
OWNER_ID=6320276083
QRIS_IMAGE=https://files.catbox.moe/g1o5a1.jpg
MONGODB_URI=mongodb+srv://fluffymd:imamz282011@cluster0.mywborp.mongodb.net/?appName=Cluster0
DATABASE_NAME=fluffy_bot
VERCEL_URL=https://fluffy-bot.vercel.app